.main_client{
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
}
.main_client h2{
    font-size: 44px;
    margin-top: 100px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    font-weight: lighter;
}
.main_client h2 span{
    font-weight: bold;
}
.main_client .line {
    margin-bottom: 110px;
}
.main_client .images {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.images img {
    margin-right: 50px;
}